.collection-preview {

  display: flex;
  flex-direction: column;
  margin-top: 50px;
  color: var(--white);


  .title {
    font-size: 28px;
    margin-bottom: 25px;
    padding-left: 2.656%;
    letter-spacing: 4px;
  }

  .preview {
    display: grid;
    grid-template-columns: repeat(3, 33.3%);
    width: 100%;
    justify-content: center;
  }
}

  @media screen and (max-width: 1100px) {
    .collection-preview {
      display: grid;      
      margin-bottom: 0;
      margin-top: 0;
      color: var(--white);
      padding: 0 60px;
      justify-content: center;
  
      .title{
        text-align: center;
        padding-left: 0;
        margin-bottom: 20px;
        
      }
    
      .preview {
        display: block;
      }
    }
  }

  





 