html {
  box-sizing: border-box;
  font-size: 10px;
  @media (max-width: 425px) {
    font-size: 8px;
  }
}

body {
  font-size: 1.5rem;
  margin: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: inherit;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}



.hero-container {
  box-sizing: border-box;
  background-image: url('../../images/IMG_8578.jpg');
  background-size:cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;

  .herosection-content{
    color: white;
    margin-right: 15%;
    h2{
      letter-spacing: 7px;
      font-size: 40px;
      font-weight: 300;
      margin-bottom: 15px;
    }
    h1{
      letter-spacing: 5px;
      font-size: 50px;
      font-weight: 500;
      line-height: 40px;
    }
  }


}
  
@media screen and (max-width: 960px) {
}

@media screen and (max-width: 768px) {
  .hero-container {
    box-sizing: border-box;
    background-image: url('../../images/IMG_8578.jpg');
    background-size:cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  
    .herosection-content{
      color: white;
      margin: 75% 40% auto 10%;
      h2{
        letter-spacing: 5px;
        font-size: 40px;
        font-weight: 300;
        margin-bottom: 15px;
      }
      h1{
        font-size: 50px;
        font-weight: 500;
        line-height: 40px;
      }
    }
  
  
  }
}