.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)), url('../../assets/images/IMG_8578.jpg');
  background-size:cover;
  background-position: 0% -35%;
  height: 120vh;
  width: 100vw;
  
  .herosection-content{
    color: var(--white);
    margin-right: 15%;
    h2{
      letter-spacing: 7px;
      font-size: 40px;
      font-weight: 300;
      margin-bottom: 15px;
    }
    h1{
      letter-spacing: 5px;
      font-size: 50px;
      font-weight: 500;
      line-height: 40px;
    }
  }


}
  
@media screen and (max-width: 980px) {
  .hero-container {
    box-sizing: border-box;
    background-image: url('../../assets/images/IMG_8578.jpg');
    background-size: cover;
    background-position: 40%;
    height: 110vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  
    .herosection-content{
      color: var(--white);
      margin: 75% 0 auto 10%;
      h2{
        letter-spacing: 5px;
        font-size: 40px;
        font-weight: 300;
        margin-bottom: 15px;
      }
      h1{
        font-size: 50px;
        font-weight: 500;
        line-height: 40px;
      }
    }
  }
}
