.shop-page{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    color: var(--white);
    padding-top: 100px;
    justify-content: center;
}

@media screen and (max-width: 980px){
    .shop-page{
        padding-top: 80px;
    }
}