* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;  
  --primary-color: white ; 
  --secondary-color: white;  
  }

  
body::-webkit-scrollbar {
  display: none;
}
