:root{
  --white: #e2e2e2;
  // --black: #281900;
  --black: rgb(34, 30, 32);
  --orange: #ffd328;
  --yellow: #ffff67;
  --grey: #7a7672;
}

* {
  ::-webkit-scrollbar{
    background-color: var(--grey);
    border-radius: 8px;

  }
  ::-webkit-scrollbar-thumb{
    background-color: var(--black);
    border-radius: 8px;
    border: solid var(--grey) .5px;
  }
    box-sizing: border-box;
    font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;    
  }
body{
  background-color: var(--black) ;
  padding: 0;
  margin: 0;
  width: 100%;
}
ul{
  padding-inline-start: 0;
}

a{
  text-decoration: none;
  color: var(--white);
}


*{
  box-sizing: border-box;

}



@media screen and (max-width: 980px){
  body{
    font-family: 'Montserrat', sans-serif;
    background-color: var(--black) ;
  }
}
@media only screen and (max-width: 340px){
  body{
    width: 100vw;
  }
}